
@{
    ViewData["Title"] = "Paso5";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="header">@ViewBag.Title</h4>
        </div>
        <div class="col-md-12">
            <div class="btn-group btn-group-justified" style="width:100%">
                <div class="btn btn-default btn-step disabled">
                    <div class="step-number ">1</div>
                    <div class="step-text hidden-print hidden-xs hidden-sm"><a style="color:black" href="~/Home/Index">Inicio</a></div>
                </div>
                <div class="btn btn-default btn-step  disabled">
                    <div class="step-number ">2</div>
                    <div class="step-text hidden-print hidden-xs hidden-sm"><a style="color:black" href="~/Home/Paso1">Paso 1</a></div>
                </div>
                <div class="btn btn-default btn-step btn-primary disabled">
                    <div class="step-number step-number-active">3</div>
                    <div class="step-text hidden-print hidden-xs hidden-sm"><a style="color:black" href="~/Home/Paso5">Paso 5</a> </div>
                </div>
                <div class="btn btn-default btn-step disabled">
                    <div class="step-number">4</div>
                    <div class="step-text hidden-print hidden-xs hidden-sm"><a style="color:black" href="~/Home/Paso8">Paso 8</a> </div>
                </div>

            </div>
        </div>
    </div>


</div>

<hr />
<h5>Request Result</h5>
<pre><code id="json-request" class="language-javascript">
    

</code></pre>

<div class="row">
    <div class="col-md-12">
        <h5>SDK Request</h5>
        <pre>
        <code id="json-request" class="language-javascript">
                //SDK Facebook
                fbq('trackCustom', 'Paso_5', { order_id: "124", value: '10000' });
            </code>
        </pre>
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function (event) {
        //SDK Facebook
        fbq('trackCustom', 'Paso_5', { order_id: "124", value: '10000' });

        //request api 
        var url = '/Home/PixelFacebook?eventName=Paso_5'
        $.ajax({
            type: 'POST',
            url: url,
            async: true,
            dataType: "json",
            success: function (data) {
                document.getElementById("json-request").innerHTML = data;
            },
            error: function (err) {
                alert(err);
            }
        });

    });
</script>