@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col-md-12">
        <h4 class="header">@ViewBag.Title</h4>
    </div>
</div>

<p>Use this page to detail your site's privacy policy.</p>
